* {
    font-family: cursive, serif, sans-serif;
    line-height: 1.5;
}

p {
    margin-bottom: 20px;
}

.list.nodecor {
    list-style: none;
    text-align: left;
}

.list.nodecor a {
    text-decoration: none;
    font-size: 20px;
}

.recipe-card {
    width: 800px;
    outline: 2px solid red;
    background-color: rgb(255, 245, 226);
    text-align: center;
    margin: 20px auto;
    padding: 50px;
    box-shadow: 1px 1px 4px black;
}

.recipe-card img {
    width: auto;
    height: 500px;
}

.recipe-content {
    text-align: left;
    padding: 20px;
}

.recipe-content ul {
    list-style: square;
}