/*  ========== CSS SELECTORS ========== //
//
//  selectors arecase sensitive
//
//  universal selector      =>  *
//  type selectors          =>  div p h1 ...
//  class selectors         =>  <div class="alert-text"/>       .alert-text
//  id selectors            =>  <div id="title"/>               #title
//  grouping selectors      =>  .read, .unread
//  chaining selectors      =>  .subsection.header  .subsection#title   (doesnt work for mult type selectors)
//  descendant combinator   =>  .parent .child
*/
/* ========== CSS PROPERTIES ========== //
//
//  color                   =>  #1100ff     rgb(100, 0, 127)        hsl(15, 82%, 56%)
//  color (transparent)     =>  #ff000080   rgb(100, 0, 0, 0.8)     hsl(120, 60%, 70%, 0.3)
//  font-family: "Times New Roman", serif;
//  font-size: 22px
//  font-weight             =>  bold OR 700
//  text-align
//  list-style              =>  none
//  text-transform          =>  uppercase
//  text-decoration         =>  none
*/
/* ========== SPECIFICITY ========== //
//
//  1. ID (most specific)
//  2. class
//  3. type
//
//  Only taken into account when an element has multiple, 
//  conflicting declarations targetting it, sort of like a tie breaker.
//  When there is no declaration with a selector of higher specificity, 
//  a rule with a greater number of selectors of the same type will take precedence over 
//  another rule with fewer selectors of the same type.
//
//  When comparing selectors, you may come across special symbols for 
//  the universal selector (*) as well as combinators (+, ~, >, and an empty space). 
//  These symbols do not add any specificity in and of themselves.
//
//  space       | descendant selector 
//              | allows styling all the nested child elements, regardless of how deep they are in the hierarchy.
//
//  >           | child selector
//              | selects DIRECT child elements of a specified parent element
//
//  +           | adjacent sibling combinator
//              | combines two sequences of simple selectors having the same parent, 
//              | 2nd one must come IMMEDIATELY after the first
//              | e.g. div + p => select a p only if p is preceded by div
//
//  ~           | general sibling combinator
//              | similar to +. 
//              | the diff is that the second selector does NOT have to immediately follow the first one 
//              | means it will select all elements that is preceded by the former selector.
//              | e.g. div ~ p => select all p after a p is preceded by div
//  
*/
/* ========== INHERITANCE ========== //
//
//  refers to certain CSS properties that, when applied to an element, are inherited 
//  by that element’s descendants, even if we don’t explicitly write a rule for those descendants. 
//  Typography-based properties (color, font-size, font-family, etc.) are usually inherited, 
//  while most other properties aren’t. 
*/
/* ========== RULE ORDER ========== //
//
//  Whichever rule was the last defined is the winner. 
*/
/* ========== BOX MODEL ========== //
//
//  outline     =>  outline the elements
//  padding     =>  increases the space between the border of a box and the content of the box
//  border      =>  add space (even if it’s only a pixel or two) between the margin and the padding
//  margin      =>  increases the space between the borders of a box and the borders of adjacent boxes
//
//  Margin      | e.g. margin: 10px 10px 10px 20px (top | right | bottom | left)  
//  Border      | e.g. border: 2px dotted green
//  Padding     | e.g. padding: 10px (shorthand)
//  Content     | 
//
//  width and height of a element = sum(border, padding, content)
*/
/* ========== FLEX ========== //
//
//  flex container      | any element that has display: flex
//  flex item           | any element that live inside flex container
//                      | flex item can be a flex container
//
//  flex declaration    | shorthand for flex-grow, flex-shrink, flex-basis
//  flex: 1             | flex-grow: 1, flex-shrink: 1, flex-basis: 0 (flex: 1 1 0)
//
//  flex-grow           | expect single number as the item's growth factor
//                      | flex: 2 to just one of the divs, that div grow to 2x the size of the others
//  flex-shrink         | similar to grow but shrink item instead
//                      | only applied if size of all items is larger than the parent container
//  flex-shrink: 0      | prevent item from shrinking
//
//                      | flex items do not necessarily respect your given values for width
//  flex-basis          | sets the initial size of a flex item
//                      | any growing/shrinking starts from that baseline size
//                      | basis set to 0, those items ignore item’s width, everything shrink evenly
//                      | using auto tells the item to check for a width declaration
//                      | default: auto unless specified, e.g. flex: 1
//                      | flex: 1 1 auto == flex: auto
*/
div {
    color: white;
    background-color: black;
}

p {
    color: blueviolet;
}